<img class="bg-image" src="../../../assets/images/login/2.jpg" alt="">
<div class="overlay"></div>

<div class="align">
    <div class="login-container">
        <div class="d-flex mb-5">
            <img class="logo" src="../../../assets/images/logo/iloilo-seal.png" alt="">
            <img class="logo" src="../../../assets/images/logo/ipo-logo.ico" alt="">
        </div>
        <h1 class="h3 mb-5 fw-700 text-center ">Iloilo Population Office</h1>
        <div class="d-flex">
            <i class="bi bi-person-circle"></i>
            <input type="text" class="form-control ps-5 pl-5 mb-1" placeholder="Username">
        </div>
        <div class="d-flex">
            <i class="bi bi-shield-lock-fill"></i>
            <input type="password" class="form-control ps-5 pl-5" placeholder="Password">
        </div>
        <button class="w-100 btn btn-lg btn-primary mt-3">Go</button>

        <p [routerLink]="[ '/home']" class="text-center mt-5">Proceed to Iloilo Population Office's Page</p>

    </div>
    <p class="absolute"> © | Powered By: Iloilo State College of Fisheries Main Poblacion Campus</p>

</div>